ul {
  list-style-type:none;
}

.navbar {
  background-color: black;
  border: black;
}

/* Styles for navigation row */
    #main-nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        background-color: black;
        color: black;
    }

    .main-wrapper {
        margin: 1%;
        position: relative;
    }    


body, html {
    width: 99%;
    background-image: url('../images/background_homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.intro-box {
  background-color: black;
  border-radius: 25px;
  border: 1px solid white;
  color: white;
  margin-top: 15%;
  margin-bottom: 15%;
  padding: 25px;
  width: 70%;
}

.align-right {
  text-align: right;
}

.dark-row {
  background-color: #000033;
  border: 1px solid white;
  /*padding: 25px;*/
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.dark-orange-row {
  background-color: #cc6600;
  border: 1px solid white;
  /*padding: 25px;*/
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.dark-row-footer {
  background-color: #000033;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

#credentials {
  margin-top: 15%;
}

.circle-image {
  display: block;
  border: 1px solid darkgray;
  border-radius: 50%;
  width: 65px;
  margin: auto;
}

/* font awesome icons */
.fa-contact {
  background-color: white;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 45px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-contact:hover {
  opacity: 0.7;
  text-decoration: none;
}

.thumb-box {
  background-color: black;
  padding: 2px;
  color: white;
}

/*  https://medium.com/@jamesfuthey/simulating-the-creation-of-website-thumbnail-screenshots-using-iframes-7145269891db  */

.thumbnail iframe {
  width: 1200px; /* original: 1440px */
  height: 900px;
}

.thumbnail {
  position: relative;
  -ms-zoom: 0.25;
  -moz-transform: scale(0.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 0 0;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail-container {
  width: calc(1200px * 0.25);  /* original 1440 */
  height: calc(900px * 0.25);
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.thumbnail iframe {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.span-link {
  color: lightblue;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cardo', serif;
}

.cred {
  width: 100%;
}


/* Responsive Layout */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
}

/* Responsive list items */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.portfolio-list-form {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list li {
  color: black;
  background-color: lightgray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: calc(1200px * 0.25);
}

.portfolio-list li p {
  margin: 5px;
}

.portfolio-list form input {
  margin: 5px;
}

/* add to home screen */

.add-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}


/* Media Queries */

@media screen and (max-width: 375px ) {
  .intro-box {
    width: 100%;
    margin-top: 100px;
  }
  
 .dark-row {
    width: auto;
  }
 
}